/* inicia body */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
body {
  overflow-x: hidden;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.cuerpo {
  background-color: #556e55;
}

/* termina body */
/* inicia footer */
.pie {
  display: block;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #948471;
  color: #fff;
  text-align: left;
  margin-top: auto;
  grid-area: footer;
  padding-top: 1rem;
}

.pie div {
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.1rem;
}

.pie a {
  margin-left: 1rem;
}

.pie img {
  margin-bottom: 0.5rem;
  width: 50px;
}

/* termina footer */
/* INICIO DEL MEDIA    QUERY */
@media (min-width: 320px) {
  .galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1;
    grid-template-areas: "nav" "galeria" "footer";
  }
  .encabezado nav ul {
    display: flex;
    margin-left: 0%;
    justify-content: center;
    margin-right: 0;
    flex-wrap: wrap;
  }
  .iframe {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .formulario {
    width: 80%;
  }
  .pie {
    text-align: center;
  }
  .pie div {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }
  .tabla {
    overflow-x: auto;
  }
  .logo {
    display: none;
  }
  /* termina media query */
}
@media (min-width: 320px) and (min-width: 480px) {
  .encabezado nav ul {
    display: flex;
    margin-left: 0%;
    justify-content: center;
    margin-right: 0;
    flex-wrap: wrap;
  }
  .iframe {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .galeria {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: "nav nav" "galeria galeria" "footer footer";
  }
  .pie {
    text-align: center;
  }
  .pie div {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }
  .logo {
    display: none;
  }
}
@media (min-width: 320px) and (min-width: 768px) {
  .encabezado nav ul {
    display: flex;
    margin-left: 0%;
    justify-content: center;
  }
  .galeria {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: "nav nav" "galeria galeria" "footer footer";
  }
  .pie {
    text-align: center;
  }
  .pie div {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }
  .formulario {
    width: 40%;
  }
  .logo {
    display: none;
  }
}
@media (min-width: 320px) and (min-width: 1200px) {
  .encabezado nav ul {
    display: flex;
    margin-left: 0%;
    justify-content: end;
  }
  .formulario {
    width: 30%;
  }
  .galeria {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "nav nav nav" "galeria galeria galeria" "footer footer footer";
    justify-items: space-between;
  }
  .logo {
    width: 2%;
    display: flex;
    align-items: center;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  outline: none;
  text-align: center;
}

a {
  text-decoration: none;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
}

nav {
  background-color: #948471;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 70px;
  z-index: 100;
  padding: 0 20px;
}
nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav ul li {
  height: 40px;
}
nav ul li:first-child {
  margin-right: auto;
}
nav a {
  font-weight: 500;
  transition: color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
  transform-origin: center center;
  border-radius: 30px;
  text-decoration: none;
}
nav a:hover {
  background-color: #000000;
  color: white;
  transform: scale(1.1);
}
nav a, nav .fa-solid {
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  color: rgb(63, 71, 64);
}
nav .menuButton {
  display: none;
}

nav .sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 100;
  background-color: rgba(110, 110, 110, 0.411);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba 0, 0, 0, 0.1;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
nav .sidebar li {
  width: 100%;
}
nav .sidebar a {
  width: 100%;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  nav .menuButton {
    display: block;
  }
}
@media (max-width: 400px) {
  nav .sidebar {
    width: 100%;
    height: 100vh;
  }
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

h1, h2 {
  margin-top: 2rem;
  text-align: center;
  font-size: x-large;
  font-family: "Jura", sans-serif;
  font-family: "Rajdhani", sans-serif;
  font-family: "Trochut", cursive;
  font-family: "Zen Maru Gothic", sans-serif;
  text-align: center;
  color: rgb(30, 33, 45);
}

.grid {
  display: grid;
  width: 100%;
}

/* inicia catalogo */
.catalogo {
  background-color: rgb(209, 209, 209);
}

.galeria {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto auto auto;
  grid-area: galeria;
  grid-template-areas: "nav nav nav" "galeria galeria galeria" "footer footer footer";
  justify-items: space-between;
}
.galeria figure {
  justify-content: center;
  text-align: center;
  padding: 2rem;
}
.galeria figcaption {
  margin-top: 1rem;
}
.galeria img {
  border: 0.1rem solid rgba(175, 175, 175, 0.7058823529);
  border-radius: 0.5rem;
  margin-top: 1rem;
}
.galeria img:hover {
  border: 0.1rem solid #2b2b2b;
}
.galeria h2 a:hover {
  color: #797878;
}

.image {
  height: 70%;
  width: 90%;
}

/* termina catalogo */
/* inicia formulario */
.contacto {
  background-color: rgb(209, 209, 209);
}

.formulario {
  background-color: rgba(93, 121, 77, 0.3294117647);
  text-align: center;
  border: 0.2rem solid #2b2b2b;
  border-radius: 1rem;
  width: 20rem;
  margin: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "nav" "formulario" "footer";
}
.formulario fieldset {
  border: none;
}
.formulario .textAreaResize {
  resize: none;
}
.formulario .formInput {
  padding: 0.3rem 1rem;
  width: 40%;
  border-radius: 4px;
  margin-bottom: 1rem;
}
.formulario .formButton {
  padding: 0.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 20%;
  border-radius: 1rem;
  background-color: #e9e9e9;
}
.formulario .formButton:hover {
  background-color: #669959;
}

.textArea {
  background-color: #e0e0e0;
  border-radius: 1rem;
  padding: 1rem;
  border: 2px solid transparent;
  outline: none;
}

/* termina formulario */
/* inicia iframe */
.iframe {
  text-align: center;
}
.iframe h3 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* termina iframe */
/* inicia home */
.home {
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "nav nav nav" "home home home" "footer footer footer";
  grid-area: home;
  text-align: center;
  padding: 0;
}
.home img {
  border: 0.2rem solid #556e55;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  height: auto;
}
.home h1, .home h2 {
  margin: 1rem;
  color: #2b2b2b;
  text-align: center;
}
.home a {
  color: #2b2b2b;
}
.home a:hover {
  color: #797878;
}

/* termina home */
/* inicia tabla */
.listado {
  background-color: rgb(209, 209, 209);
}

.tabla {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-area: tabla;
  grid-template-areas: "nav" "tabla" "footer";
}
.tabla th {
  background-color: #222831;
  color: #fff;
  text-align: center;
  font-weight: 500;
  width: 50%;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  border: 0.1rem solid #797878;
}
.tabla td {
  font-weight: 450;
  color: #000;
  text-align: center;
  height: 1rem;
  padding: 1rem;
  margin: 12rem;
  width: 4rem;
}
.tabla tr {
  transition: 0.3s;
}
.tabla tr:hover {
  background-color: rgba(121, 120, 120, 0.3568627451);
}

/* termina tabla */
/* inicia preguntas*/
.sobrenosotros {
  background-color: rgb(209, 209, 209);
}

.faqs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-area: faqs;
  grid-template-areas: "nav" "faqs" "footer";
}
.faqs h2 {
  text-align: center;
  margin-bottom: 1rem;
}
.faqs ol li {
  font-weight: 600;
  text-align: center;
  margin-top: 3rem;
  list-style: none;
}
.faqs div {
  text-align: center;
  margin: 2rem;
  padding: auto;
}
.faqs .divCenter {
  text-align: center;
}

/* termina preguntas */

/*# sourceMappingURL=style.css.map */
