/* inicia home */

.home{
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "nav nav nav" 
    "home home home"
    "footer footer footer";
    grid-area: home;
    text-align: center;
    padding: 0;
    img{
        border: 0.2rem solid #556e55;
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        height: auto;
    }
    h1, h2{
        margin: 1rem;
        color: #2b2b2b;
        text-align: center;
    }
    a{
        color: #2b2b2b;
    }
    a:hover{
            color: #797878;
    }
} 

/* termina home */